<p id="notice"><%= notice %></p>

<p>
  <strong>Seat type:</strong>
  <%= @pricing.seat_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pricing.price %>
</p>

<%= link_to 'Edit', edit_pricing_path(@pricing) %> |
<%= link_to 'Back', pricings_path %>
