<p id="notice"><%= notice %></p>

<p>
  <strong>K:</strong>
  <%= @tmp.k %>
</p>

<p>
  <strong>H:</strong>
  <%= @tmp.h %>
</p>

<%= link_to 'Edit', edit_tmp_path(@tmp) %> |
<%= link_to 'Back', tmps_path %>
